@media screen and (max-width: 575px) {
  .navbar .contain .nav-title {
    font-size: 16px;
  }
  .navbar span {
    font-size: 14px;
  }
  .contain-form,
  .contain-datos-inversion {
    padding: 15px;
  }
}
@media screen and (max-width: 470px) {
  .navbar .github {
    display: none;
  }
}